#gameboard {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  height: 300px;
}

.square {
  display: flex;
  flex-wrap: wrap;
  float: left;
  border: 5px solid burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 30%;
  text-align: center;
  font-size: 80px;
  color: brown;
}

#controls,
#message {
  text-align: center;
  margin: 20px 0;
}

h1 {
  text-align: center;
  color: aquamarine;
}
